@use "sass:math";
@use "variables" as *;
@use "functions" as *;

@mixin media-height-from($height) {
  @media ($height <= height) {
    @content;
  }
}

@mixin media-height-to($height) {
  @media (height < $height) {
    @content;
  }
}

@mixin media-width-from($width) {
  @media ($width <= width) {
    @content;
  }
}

@mixin media-width-to($width) {
  @media (width < $width) {
    @content;
  }
}

@mixin hover {
  @media (any-hover) {
    &:hover {
      @content;
    }
  }
}

@mixin not-first {
  * + & {
    @content;
  }
}

@mixin not-first-children {
  & > * + * {
    @content;
  }
}

@mixin not-last {
  &:not(:last-child) {
    @content;
  }
}

@mixin not-last-children {
  & > :not(:last-child) {
    @content;
  }
}

@mixin flex-wrap($gap) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $gap;
}

@mixin response($transition: null) {
  transition: $transition;

  &:focus-visible {
    @content;
  }

  @include hover {
    @content;
  }
}
