@use "../abstracts" as *;

.button {
  $fs: 29px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: em(8px, $fs);
  padding-block: em(19px, $fs);
  padding-inline: em(26px, $fs);
  background-color: $clr-ebony-clay;

  // typography
  text-align: center;
  color: $clr-white;
  font-family: $ff-roboto;
  font-size: rsv-clamp(rem(18px), rem($fs));
  line-height: line-height(34px, $fs);

  @include response(background-color 0.3s) {
    background-color: $clr-bittersweet;
  }

  &--bg {
    // .button--bg--plain
    &--plain {
      background-color: $clr-white;
      color: $clr-ebony-clay;
    }
  }
}
