@use "../abstracts" as *;

.header-card-product {
  padding-inline: rem(10px);
  display: flex;
  flex-direction: column;
  gap: rsv-clamp(rem(10px), rem(16px));

  // .header-card-product__title

  &__title {
    font-weight: $fw-semi-bold;
    flex: auto;
  }

  // .header-card-product__link

  &__link {
    @extend %interaction;
  }

  // .header-card-product__details

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(12px);
  }

  // .header-card-product__type

  &__type {
    color: rgba($clr-black, 0.5);
  }

  // .header-card-product__costs

  &__costs {
    @include flex-wrap(rem(12px));

    white-space: nowrap;
    text-align: end;
    font-weight: $fw-semi-bold;
  }

  // .header-card-product__old-price

  &__old-price {
    color: rgba($clr-black, 0.5);
    font-size: rem(14px);
    text-decoration-line: line-through;
  }

  // .header-card-product__price

  &__price {
  }

  &__old-price:not(:empty) + &__price {
    color: $clr-bittersweet;
  }
}

.actions-card-product {
  min-block-size: rem(52px);
  padding: rem(8px 15px);
  background-color: $clr-ebony-clay;

  // flex
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(21px);

  // .actions-card-product__box

  &__box {
    @include flex-wrap(rem(8px 21px));
  }

  // .actions-card-product__button

  &__button {
    @extend %interaction;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: rem(8px);

    // typography
    text-align: center;
    color: $clr-white;
    font-size: rem(25px);

    &--small {
      font-size: rem(18px);
    }
  }
}

.body-card-product {
  @media (any-hover) {
    position: relative;
    isolation: isolate;
  }

  // .body-card-product__frame

  &__frame {
    position: relative;
    isolation: isolate;
    display: block;
    aspect-ratio: 312 / 400;
  }

  // .body-card-product__img

  &__img {
    position: absolute;
    z-index: -1;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  // .body-card-product__stickers

  &__stickers {
    position: absolute;
    inset-block-start: rem(22px);
  }

  // .body-card-product__actions

  &__actions {
    @media (any-hover) {
      position: absolute;
      inset-block-end: 0;
      inset-inline: 0;
      transition: opacity 0.3s, visibility 0.3s;
      opacity: 0;
      visibility: hidden;
    }
  }

  @media (any-hover) {
    &:focus-within &__actions {
      opacity: 1;
      visibility: visible;
    }

    &:hover &__actions {
      opacity: 1;
      visibility: visible;
    }
  }
}

.card-product {
  display: flex;
  flex-direction: column;
  gap: rsv-clamp(rem(12px), rem(18px));

  &[hidden] {
    display: none;
  }

  // .card-product__header

  &__header {
    order: 1;
    flex: auto;
  }

  // .card-product__body

  &__body {
  }
}
