@use "../abstracts" as *;

.field {
  @extend %interaction;

  padding: rem(8px 15px);
  border-block-end: rem(2px) solid;

  /* Input text */
  color: $clr-ebony-clay;
  font-feature-settings: "clig" off, "liga" off;
  font-family: $ff-roboto;
  font-weight: $fw-medium;
  line-height: line-height(19px, 16px);

  &::placeholder {
    text-transform: capitalize;
    opacity: 0.5;
  }
}

.submit {
  @extend %interaction;

  display: inline-flex;
  align-items: center;
  gap: rem(8px);
  padding: rem(6px 15px 10px);
  border-block-end: rem(2px) solid;
  cursor: pointer;
  color: $clr-ebony-clay;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  line-height: line-height(19px, 16px);
  text-transform: uppercase;
}
