@use "../abstracts" as *;

.interactive {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: rsv-clamp(rem(12px), rem(40px));

  // .interactive__tabs

  &__tabs {
    align-self: center;
  }

  // .interactive__button

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: rem(4px);
    padding-block: em(5px, 16px);
    padding-inline: em(15px, 16px);
    background-color: $clr-ebony-clay;

    // typography
    text-transform: capitalize;
    text-align: center;
    color: $clr-white;

    @include response(background-color 0.3s) {
      background-color: $clr-bittersweet;
    }
  }
}
