@use "../abstracts" as *;

.tabs {
  @include flex-wrap(rem(12px) rsv-clamp(rem(12px), rem(40px)));

  // .tabs__item
  &__item {
  }

  // .tabs__switch

  &__switch {
    @extend %interaction;

    color: rgba($color: $clr-black, $alpha: 50%);
    font-weight: $fw-semi-bold;
    text-transform: capitalize;

    // line-height: normal;
    // .tabs__switch--active

    &--active,
    &[data-filter-active] {
      color: $clr-black;
    }
  }
}
