@use "../abstracts" as *;
@use "sass:math";

/* Global styles */

:root {
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  font-family: $ff-ubuntu;
  line-height: 1.4;

  @include media-width-from(em($x-small)) {
    font-size: rem(18px);
  }

  // background-color: $clr-blue-charcoal;
}

.wrapper {
  overflow: clip;
  min-block-size: 100%;
  display: flex;
  flex-direction: column;

  &__main {
    flex: auto;
  }
}

[class*="container"] {
  max-inline-size: rem($canvas);
  padding-inline: rem($padding-sm);
  margin-inline: auto;

  @include media-width-from(em($xx-small)) {
    padding-inline: rem($padding);
  }
}
