@import "https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap";
/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-okaidia */
code[class*=language-], pre[class*=language-] {
  color: #f8f8f2;
  background: 0 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*=language-], pre[class*=language-] {
  background: #272822;
}

:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.cdata, .token.comment, .token.doctype, .token.prolog {
  color: #8292a2;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.constant, .token.deleted, .token.property, .token.symbol, .token.tag {
  color: #f92672;
}

.token.boolean, .token.number {
  color: #ae81ff;
}

.token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string {
  color: #a6e22e;
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url, .token.variable {
  color: #f8f8f2;
}

.token.atrule, .token.attr-value, .token.class-name, .token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.important, .token.regex {
  color: #fd971f;
}

.token.bold, .token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Reset styles */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: unset;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  block-size: 100%;
}

a {
  text-decoration: unset;
  color: unset;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6, address {
  font: unset;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

/* Form */
input,
button,
textarea,
select {
  font: unset;
  color: unset;
  background-color: unset;
}

button,
select,
option,
label {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: unset;
     -moz-appearance: unset;
          appearance: unset;
}
/* End of the reset styles */
/* Global styles */
:root {
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  font-family: ubuntu, sans-serif;
  line-height: 1.4;
  font-size: 1.125rem;
}

.wrapper {
  overflow: clip;
  min-block-size: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper__main {
  flex: auto;
}

[class*=container] {
  max-inline-size: 64rem;
  padding-inline: 0.75rem;
  margin-inline: auto;
}

.blog__container {
  padding-block: clamp(1.25rem, 0.8889rem + 1.5408vw, 1.875rem);
}
.blog__section {
  padding-block-end: clamp(1rem, 0.7111rem + 1.2327vw, 1.5rem);
}
.blog__section:not(:last-child) {
  margin-block-end: clamp(1rem, 0.7111rem + 1.2327vw, 1.5rem);
  border-block-end: 0.0625rem solid silver;
}
.blog__section > :not(:last-child) {
  margin-block-end: 0.25rem;
}
.blog h1 {
  text-align: center;
  font-weight: 700;
  line-height: 1;
  background-image: linear-gradient(90deg, hsl(190, 81%, 67%), hsl(261, 100%, 75%), hsl(54, 70%, 68%), hsl(80, 76%, 53%));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: calc(1.5024rem + 1.3635vw);
}
.blog h1:not(:last-child) {
  margin-block-end: clamp(1.125rem, 0.7639rem + 1.5408vw, 1.75rem);
}
.blog h2 {
  font-weight: 700;
  font-size: calc(1.2609rem + 0.7642vw);
}
.blog h2:not(:last-child) {
  margin-block-end: clamp(0.375rem, 0.3028rem + 0.3082vw, 0.5rem);
}
.blog ol,
.blog ul {
  padding: revert;
}
.blog li {
  list-style-type: revert;
}
.blog li:not(:last-child) {
  margin-block-end: 0.1875rem;
}
.blog pre,
.blog code {
  border-radius: 0.25rem;
}
@media (23.4375em <= width){
  [class*=container] {
    padding-inline: 1rem;
  }
}
@media (64em <= width){
  .blog h1 {
    font-size: 2.375rem;
  }
  .blog h2 {
    font-size: 1.75rem;
  }
}
@media (prefers-reduced-motion: reduce){
  html {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}