/* Proxima Nova 300, 400, 600 */
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/proxima-nova-light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/proxima-nova-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/proxima-nova-semi-bold.woff2") format("woff2");
  font-display: swap;
}
