@use "../abstracts" as *;

.accordion {
  &__panel {
    transition: 0.4s ease-in-out;
  }

  &__title {
    transition: inherit;
  }

  &__trigger {
    text-align: start;
    display: flex;
    gap: 12rem;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    transition: inherit;

    svg {
      flex-shrink: 0;
      transition: inherit;
      width: 1em;
      height: 1em;
      fill: none;

      // stroke: $clr-text-black;
    }

    &[disabled] {
      cursor: auto;

      svg {
        display: none;
      }
    }

    &[aria-expanded="true"] {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__text {
  }

  &__content {
    display: grid;
    grid-template-rows: 1fr;
    transition: inherit;

    &[hidden] {
      grid-template-rows: 0fr;
      visibility: hidden;
    }

    & > * {
      overflow: hidden;
    }
  }

  &__body {
    &::before {
      content: "";
      display: block;
      margin-top: 16rem;
    }
  }
}
