@use "../abstracts" as *;

.collection {
  position: relative;
  isolation: isolate;
  color: hsl(0deg 0% 100%);
  background: url("../img/collection/bg.webp") center / cover, $clr-ebony;
  overflow: hidden;

  // .collection__container

  &__container {
    padding-block-start: rsv-clamp(rem(24px), rem(112px));
  }

  // .collection__layout

  &__layout {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    gap: rem(18px 36px);

    @include media-width-to(em(700px)) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  // .collection__picture

  &__picture {
    inline-size: rem(636px);
    aspect-ratio: 636 / 663;
    position: relative;

    @include media-width-from(em(700px)) {
      margin-inline-start: rem(-85px);
    }
  }

  // .collection__img

  &__img {
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    object-fit: contain;
  }

  // .collection__main

  &__main {
    inline-size: rem(504px + 33px);

    @include media-width-from(em(700px)) {
      padding-block-end: rsv-clamp(rem(60px), rem(93px), em(700px));
    }

    & > :not(:last-child) {
      // Make sure we've removed the "paragraph spacing"
      margin-block-end: rsv-clamp(rem(16px), rem(55px - 4.5px));
    }
  }

  // .collection__title

  &__title {
    img {
      inline-size: rsv-clamp(rem(95px), rem(191px));
      aspect-ratio: 191 / 81;
      object-fit: contain;
    }
  }

  // .collection__filling

  &__filling {
    font-family: $ff-roboto;
    font-size: rsv-clamp(rem(16px), rem(26px));
    line-height: line-height(40px + 9px, 26px);
  }

  // .collection__button

  &__button {
    @include media-width-to(em($x-small)) {
      inline-size: 100%;
    }
  }

  // .collection__shadow

  &__shadow {
    position: absolute;
    z-index: -1;
    inline-size: rsv-clamp(rem(320px), rem(732px));
    aspect-ratio: 732 / 309;
    object-fit: contain;
    opacity: 0.08;
    inset-block-start: rem(51px);
    inset-inline-end: rem(-56px);
  }
}
