@use "../abstracts" as *;

.social {
  // .social__list

  &__list {
    @include flex-wrap(rem(12px) rsv-clamp(rem(24px), rem(36px)));
  }

  // .social__item

  &__item {
  }

  // .social__link

  &__link {
    @extend %interaction;

    font-size: rem(25px);
    color: $clr-ebony-clay;
  }
}

.sky-footer {
  // .sky-footer__container

  &__container {
    display: flex;
    gap: rem(30px 56px);

    @include media-width-to(em(891px)) {
      flex-wrap: wrap;
    }
  }

  // .sky-footer__main

  &__main {
    flex: 0 rem(392px);

    @include media-width-from(em(891px)) {
      flex-shrink: 0;
    }

    & > :not(:last-child) {
      // Delete excess margin that comes from the huge line-height (half of 9px)
      margin-block-end: rsv-clamp(rem(12px), rem(32px - 4.5px));
    }
  }

  // .sky-footer__brand

  &__brand {
    img,
    svg {
      inline-size: rem(180px);
      block-size: rem(34px);
      object-fit: contain;
    }
  }

  // .sky-footer__filling

  &__filling {
    color: rgba($clr-ebony-clay, 0.75);
    line-height: divide(21.8px + 9px, 16px);
  }

  // .sky-footer__social

  &__social {
  }

  // .sky-footer__map

  &__accordion {
    flex: auto;
  }
}

.earth-footer {
  padding-block: rem(14px);
  background-color: $clr-ebony-clay;
  color: $clr-white;

  // .earth-footer__container

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(12px);
    justify-content: space-between;
  }

  // .earth-footer__partners

  &__partners {
    @include flex-wrap(rem(6px));

    justify-content: center;

    @include media-width-to(em($medium)) {
      flex-basis: 100%;
    }
  }

  // .earth-footer__item

  &__item {
    position: relative;
    inline-size: rem(42px);
    aspect-ratio: 42 / 24;
  }

  // .earth-footer__img

  &__img {
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  // .earth-footer__copyrights

  &__copyrights {
    @include media-width-from(em($medium)) {
      order: -1;
    }
  }

  // .earth-footer__link

  &__link {
    @extend %interaction;

    display: inline-flex;
    align-items: center;
    gap: rem(6px);
  }
}

.footer {
  // .footer__sky

  &__sky {
    @include not-last {
      margin-block-end: rsv-clamp(rem(30px), rem(90px));
    }
  }

  // .footer__earth

  &__earth {
    @include not-last {
      margin-block-end: rsv-clamp(rem(30px), rem(90px));
    }
  }
}
