@use "../abstracts" as *;

.products {
  // .products__container

  &__container {
  }

  // .products__title

  &__title {
    @include not-last {
      margin-block-end: rsv-clamp(rem(16px), rem(30px));
    }
  }

  // .products__interactive

  &__interactive {
    @include not-last {
      margin-block-end: rsv-clamp(rem(16px), rem(35px));
    }
  }

  // .products__layout

  &__layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(245px), 1fr));
    gap: rsv-clamp(rem(12px), rem(24px));

    @include not-last {
      margin-block-end: rsv-clamp(rem(16px), rem(35px));
    }
  }
}
